# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
#*.a

#Compiled apps
*.app
*.xcuserstate
*.DS_Store

*.xcodeproj/xcuserdata/*.xcuserdatad
*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad

#private
pplkpr/assets/credentials.txt

#emacs fragments
*~

# Processing data foler
data/
